name: Release

on:
    workflow_run:
        workflows: ["C CI"]
        types:  [completed]
        branches: [ "main" ]

jobs:
    release:
        if: ${{ github.event.workflow_run.conclusion == 'success'
               && github.event.workflow_run.event == 'push'
               && github.event.workflow_run.head_branch == 'main' 
               }}
        runs-on: ubuntu-latest

        permissions:
          actions: read
          contents: write
    
        steps:
        - name: Download build artifact
          uses: actions/download-artifact@v7
          with:
            name: shell-bin
            run-id: ${{ github.event.workflow_run.id }}
            github-token: ${{ secrets.GITHUB_TOKEN }}

        - name: Create Release
          uses: softprops/action-gh-release@v2
          with:
            files: shell
            body: |
                Automated release from successful build.
                Changes: ${{ github.event.workflow_run.head_commit.message }}
            name: Build v${{ github.event.workflow_run.run_number }}
            tag_name: v${{ github.event.workflow_run.run_number }}
            draft: false
            prerelease: false