name: Release

on:
    workflow_run:
        workflows: ["C CI"]
        types:  [completed]
        branches: [ "main" ]

jobs:
    release:
        if: ${{ github.event.workflow_run.conclusion == 'success'
               && github.event.workflow_run.event == 'push'
               && github.event.workflow_run.head_branch == 'main' 
               && github.repository == 'finlaysr/CS210-Simple-Shell'
               }}
        runs-on: ubuntu-latest

        permissions:
          actions: read
          contents: write
    
        steps:
        - name: Download build artifacts
          uses: actions/download-artifact@v7
          with:
            run-id: ${{ github.event.workflow_run.id }}
            github-token: ${{ secrets.GITHUB_TOKEN }}
        
        - name: Read version
          id: version
          run: echo "next_version=$(cat version/version.txt)" >> $GITHUB_OUTPUT
        
        - name: Create Release
          uses: softprops/action-gh-release@v2
          with:
            files: |
                shell_${{ steps.version.outputs.next_version }}/shell_${{ steps.version.outputs.next_version }}
                shell_${{ steps.version.outputs.next_version }}-release/shell_${{ steps.version.outputs.next_version }}-release
            body: |
                Automated release generated after successful build.
                Changes: ${{ github.event.workflow_run.head_commit.message }}
            name: Build ${{ steps.version.outputs.next_version }}
            tag_name: ${{ steps.version.outputs.next_version }}
            draft: false
            prerelease: false
            fail_on_unmatched_files: true